body, html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 87, 7);
    background: linear-gradient(7deg, rgba(0,87,7,1) 0%, rgba(62, 149, 69, 1) 44%, rgba(153, 255, 170, 1) 100%);
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
    
}
#body__button{
    background-color: rgb(0,87,7);
    border-radius: 10px;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px 30px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
}
#body__button:hover{
    background-color: #507c45;
}
i{
   margin-right: 5px; 
}
#container{
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #2E2E2E;
    height: 170px;
    border-radius: 10px;
    padding: 26px;
    
}
#container__title{
    color: #EAEAEA;
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px;
}
#container__button{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(0,87,7);
    border: 0;
    height: 40px;
    width: 100%;
    color: #EAEAEA;
    font-size: 17px;
}
#container__button:hover{
    background-color: #507c45;
}
