body, html{
    height: 100%;
}
body{
    background: rgb(0, 87, 7);
    background: linear-gradient(7deg, rgba(0,87,7,1) 0%, rgba(62, 149, 69, 1) 44%, rgba(153, 255, 170, 1) 100%);
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
    
}
#body__button{
    display: flex;
    background-color: rgb(0,87,7);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(0,87,7);
    position: absolute;
    right: 0;
    height: 40px;
    width: 150px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #EAEAEA;
}
#body__button:hover{
    background-color: #646464;
}
i{
   margin-right: 5px; 
}
#container{
    display: flex;
    background-color: #2E2E2E;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #2E2E2E;
    height: 150px;
    width: 355px;
    border-radius: 10px 10px 10px 10px;
    padding: 26px;
    
}
#form__title{
    color: #EAEAEA;
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px;
}
#form__button{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(0,87,7);
    border: 0;
    height: 40px;
    width: 300px;
    color: #EAEAEA;
    font-size: 17px;
    margin-bottom: 20px;
}
#form__button:hover{
    background-color: #646464;
    color: #EAEAEA;
}
