 body{
    background: #005707;
    background: linear-gradient(7deg, rgba(0,87,7,1) 0%, rgba(62,149,69,1) 44%, rgba(153,255,170,1) 100%);
    height: 100vh;
    font-family: "Segoe UI", Tahoma, sans-serif;
}
#container{
    background-color: #4a4a4a;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
  }
  .navbar__element{
    color: #f2f2f2;
    text-decoration: none;
    transition: .1s;
    padding: 10px;
    margin-left: 5px;
  }
  .navbar__element:hover {
    background-color: #646464;
    transition: .1s;
    border-radius: 10px;
  }
  #container__fullname {
    margin-right: 20px;
    transition: .2s;
    cursor: pointer;
    color: #ddd;
    height: 41px;
    display: flex;
    align-items: center;
  }
  #container__fullname:hover{
    background-color: #646464;
    transition: .1s;
    border-radius: 10px;
    height: 41px;
    transition: .2s;
  }
  i{
    
  }
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  #emergent{
    display: flex;
    flex-direction: column;
    height: 85%;
    background-color: #1d1d1d;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
    padding: 30px;
  }
  #emergent__title {
    color: #EAEAEA;
    text-align: left;
    height: 11px;
    margin-bottom: 40px;
}
.emergent__incident {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  height: 70px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
#incident__name {
  color: #C4C4C4;
  font-size: 23px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 25px;
}
#incident__container {
  display: flex;
  justify-content: flex-end;
}
.container__button {
  width: 35px;
  height: 35px;
  padding-left: 5px;
  margin-right: 60px; 
  background: #3e9545;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  transition: .1s;
}
.container__button:hover{
  background-color: #246e2a;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  transition: .1s;
}
#inicident__information {
  background-color: #4a4a4a;
  height: 50%;
  width: 100%;
  border-radius: 10px;
}
