body {
  position: relative;
  background: #005707;
  background: linear-gradient(
    7deg,
    rgba(0, 87, 7, 1) 0%,
    rgba(62, 149, 69, 1) 44%,
    rgba(153, 255, 170, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#container {
  position: relative;
  z-index: 100;
  background-color: #4a4a4a;
  margin-top: 30px;
  height: 73px;
  width: 95vw;
  min-width: 1050px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
#container > * {
  user-select: none;
}
.navbar__element {
  color: #f2f2f2;
  text-decoration: none;
  transition: 0.1s;
  padding: 10px;
  margin-left: 5px;
}
.navbar__element:hover {
  background-color: #646464;
  transition: 0.1s;
  border-radius: 10px;
}
.fa-right-from-bracket {
  padding-right: 10px;
}
#container__fullname {
  transition: 0.2s;
  cursor: pointer;
  color: #ddd;
  height: 40px;
  padding: 5px 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
#container__fullname:hover {
  background-color: #646464;
  transition: 0.1s;
  transition: 0.2s;
}
.fa-chevron-down {
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}
.emergent {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 95vw;
  min-width: 1050px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1d1d1d;
  border-radius: 0px 0px 10px 10px;
  text-align: left;
}
.emergent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #1d1d1d;
  border-radius: 10px;
  margin-left: -30px;
}
.emergent::-webkit-scrollbar {
  width: 12px;
  background-color: #1d1d1d;
  border-radius: 10px;
}
.emergent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}
.emergent__subMenu {
  position: absolute;
  z-index: 10;
  background-color: #4a4a4a;
  padding: 5px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 160px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.1s;
}
.subMenu-hidden {
  transform: translateY(-75px);
  visibility: collapse;
  border-radius: 10px;
  transition: 0.1s;
}
.subMenu__option {
  text-decoration: none;
  color: #ddd;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.1s;
}
.subMenu__option:hover {
  color: red;
  background-color: #646464;
  transition: 0.1s;
}
.emergent__title {
  color: #eaeaea;
  text-align: left;
  height: 11px;
  margin-left: 30px;
}
.emergent__incident {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: 0.1s;
}
.incident__title {
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  min-height: 70px;
  background-color: #2e2e2e;
  border: solid #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: 0.1s;
  margin-top: 30px;
}
.emergent__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}
.incident__title--confirm,
.person--selected {
  border: solid #3e9545 !important;
  transition: 0.1s;
}
.incident__title--cancel {
  border: solid red;
  transition: 0.1s;
}
.incident__title--confirm > p {
  color: #3e9545;
  transition: 0.1s;
}
.incident__title--cancel > p {
  color: red;
  transition: 0.1s;
}
.title__name {
  color: #c4c4c4;
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  transition: 0.1s;
}
.title__container,
.title__container--2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container__button {
  width: 35px;
  height: 35px;
  margin-right: 60px;
  background: #3e9545;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #001f10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  transition: 0.1s;
}
.container__button:hover {
  background-color: #246e2a;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  transition: 0.1s;
}
.inicident__information {
  background-color: #4a4a4a;
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
  height: 100%;
}
.incident__information-hidden {
  position: relative;
  z-index: 1;
  height: 50px !important;
  visibility: hidden;
  margin: 0;
  margin-bottom: -70px;
  padding: 0;
  overflow: hidden;
  transform: translateY(-70px);
}
.information__col {
  background-color: #1d1d1d;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  padding: 8px 10px 2px 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
}
.col__p {
  color: #eaeaea;
  font-size: 17px;
  text-align: justify;
  margin-top: 0;
}
.information_description {
  width: 100%;
  overflow-x: hidden;
}
i {
  transition: 0.1s;
}
.active {
  transform: rotate(-180deg);
  transition: 0.1s;
}

.col_downloads {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-height: 120px;
}
.col_downloads::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #1d1d1d;
  border-radius: 10px;
  margin-left: -30px;
}
.col_downloads::-webkit-scrollbar {
  width: 12px;
  background-color: #1d1d1d;
}
.col_downloads::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}
/*_______________________________________________________________________________________________________________________________*/
.information__title {
  width: 30px;
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  height: 70px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.inicident__information--2 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px 10px;
  align-items: center;
  border-radius: 10px;
  transition: 0.1s;
  height: 100%;
}
.information__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.information__col--2 {
  background-color: #1d1d1d;
  border: solid #1d1d1d;
  min-height: 240px;
  height: 100%;
  height: fit-content;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__title--activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.title__hr {
  background-color: #ddd;
  width: 100%;
  border: 1px solid #ddd;
  max-height: 1px;
  margin-left: 5px;
}
.information__activity--title,
.information__activity--title--2 {
  position: relative;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  width: 100%;
  border: solid #2e2e2e;
  transition: 0.1s;
  min-height: 70px;
  margin-bottom: 20px;
  background-color: #2e2e2e;
  border: solid #2e2e2e;
  transition: 0.15s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.title__name--2 {
  color: #c4c4c4;
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}
.container__button--2,
.container__button--3 {
  width: 30px;
  height: 30px;
  margin-right: 60px;
  background: #3e9545;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #001f10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  transition: 0.1s;
}
.container__button--2:hover,
.container__button--3:hover {
  background-color: #246e2a;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  transition: 0.1s;
}
.hidden {
  transform: translateX(200%);
  visibility: hidden;
}
.selected {
  color: beige;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(119, 119, 104);
  padding-bottom: 25px;
  transition: 0.1s;
}
.selected:hover {
  border-radius: 10px 10px 0 0;
}
.activity__information--3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: start;
  width: 100%;
  border-radius: 10px;
  transition: 0.1s;
}
.incident-active {
  transform: translateX(200vw);
}
.incident-rejected {
  transform: translateX(-200vw);
}
.information__col--3 {
  background-color: #1d1d1d;
  height: 100%;
  min-height: 230px;
  width: 50%;
  border-radius: 10px;
  margin: 0 5px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__container--2 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: #4a4a4a;
  border-radius: 10px;
  width: 68%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.information__container--3,
.information__container--4 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: #4a4a4a;
  border-radius: 10px;
  width: 28%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.information__col--4 {
  background-color: #1d1d1d;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 0 5px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__title--people {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 15px;
  position: relative;
  z-index: 100;
}
/*_______________________________________________________________________________________________________________________________*/
#emergent__activity--form,
#emergent__mssg--reevaluar,
#emergent__incident--form,
#emergent__resolution--form,
#emergent__resolution--resultModify {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #2e2e2e;
  z-index: 250;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: solid #ddd;
  transition: 0.1s;
}
#emergent__person--form,
#emergent__choose-person--form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: #2e2e2e;
  z-index: 300;
  border-radius: 10px;
  border: solid #ddd;
  transition: 0.1s;
}
#emergent__choose-person--form {
  padding: 5px 10px 10px;
  z-index: 200;
  min-width: 400px;
}
#person--form__result--container {
  min-height: 70px;
  border: 1px solid #001f10;
  margin: 5px;
  border-radius: 5px;
  padding: 5px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-x: hidden;
  max-height: 400px;
}
#CI_search {
  margin: 10px 0;
}
#person--form__result--container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5b5b5b;
  border-radius: 10px;
  margin-left: -30px;
}
#person--form__result--container::-webkit-scrollbar {
  width: 12px;
  background-color: #2e2e2e;
}
#person--form__result--container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}
.activity__container {
  display: flex;
  margin: 0 10px;
}
.container__col {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  flex-direction: column;
}
.col__title {
  display: flex;
  align-items: center;
  height: 21px;
}
label {
  color: #c4c4c4;
  font-size: 18px;
  font-weight: bold;
}
.title__text {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: #c4c4c4;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  height: 13px;
}
input {
  padding: 5px;
  border-radius: 5px;
  background-color: #1b1b1b;
  border: solid #1b1b1b;
  height: 33px;
  color: #eaeaea;
  font-size: 17px;
  margin-bottom: 5px;
  transition: 0.1s;
}
.col__description {
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #1b1b1b;
  border: solid #1b1b1b;
  resize: none;
  height: 330px;
  width: 500px;
  color: #eaeaea;
  font-size: 17px;
  margin-bottom: 5px;
  transition: 0.1s;
}
.col__date[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  border-radius: 50%;
  padding: 4px;
}
.lista {
  border: solid transparent;
  overflow-y: scroll;
  border-radius: 2px;
  height: 113px;
  width: 508px;
  margin-top: 5px;
  transition: 0.1s;
}
.lista::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5b5b5b;
  border-radius: 10px;
  margin-left: -30px;
}
.lista::-webkit-scrollbar {
  width: 12px;
  background-color: #2e2e2e;
}
.lista::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}
.contenedor {
  display: flex;
  border-radius: 5px;
  background-color: #1b1b1b;
  border: 0;
  height: 33px;
  width: 490px;
  color: #eaeaea;
  justify-content: start;
  font-size: 17px;
  margin-bottom: 5px;
  align-items: center;
}
input[type="radio"] {
  margin: 0;
  width: 33px;
  height: 25px;
}
#col__file {
  height: 40px;
}
::-webkit-file-upload-button {
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(0, 87, 7);
  border: 0;
  height: 40px;
  width: 200px;
  color: #eaeaea;
  font-size: 17px;
  -webkit-appearance: button;
  padding: 7px 10px;
}
.form__submit {
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(0, 87, 7);
  border: 0;
  height: 40px;
  width: 50%;
  color: #eaeaea;
  font-size: 17px;
  margin-bottom: 20px;
  transition: 0.1s;
}
button {
  border: solid 1px;
}
.activity__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.col__people {
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 10px;
  width: 495px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 262px;
}
.information__col--5 {
  height: 100%;
  width: 30%;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.imgContainer__imgPreview--hidden {
  display: none !important;
}
#imgContainer__imgPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 145px;
  height: 145px;
  border: 1px solid gray;
  padding: 5px;
}

#emergent__activity--form {
  animation: pop-up 1s;
}

.emergent__activity--hidden {
  visibility: hidden;
}
@keyframes pop-up {
  10% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1);
  }
}

#body__container--activity-form,
#body__container--person-form,
#body__container--incident-form,
#body__container--choose-person,
#resolution__container--backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(94, 255, 0);

  left: 0;
  top: 0;
  
  opacity: 0.1;
  transition: 0.1s;
  z-index: 100;

}
#body__container--activity-form,
#body__container--incident-form,
#body__container--choose-person {
  z-index: 200;
}
#body__container--person-form {
  z-index: 270;
}

.container--form--hidden {
  visibility: hidden;
}
.person-container {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 10px;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}
.information__container--5 {
  padding: 10px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: #4a4a4a;
  border-radius: 10px;
}
.title__container--buttons,
.title__container--buttons--2 {
  width: 40%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
}
.title__container--buttons--2 {
  grid-template-columns: 35px 35px;
  width: 20%;
  height: 35px;
}

.involucrado__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activity__information--5 {
  transition: 0.1s;
}

.container__button--3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.form__submit:hover {
  background-color: #246e2a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  transition: 0.1s;
}
.information__container--4 {
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  margin: 0 10px;
}

.col_downloads {
  max-height: 200px;
  overflow-y: scroll;
}

.activity__information--5 {
  width: 100%;
  transition: 0.1s;
}
.container__col--2 {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10px;
  justify-content: center;
  margin: 5px;
}
.col__input {
  display: flex;
  flex-direction: column;
}
.container__button--3:hover {
  transform: none;
}

.uncomplete--input {
  border: red solid;
}

.unchanable--input {
  border: solid #3e9545;
  background-color: #032b07;
}

.activity--container,
.person--container {
  width: 100%;
  padding: 0;
}

.unlink-person,
.erase_activity {
  border: solid red;
}

.information__activity--title--2 {
  margin-top: 10px;
}
/*_________________________________________________________________________________________________________________________________*/
#lista {
  overflow-y: scroll;
  height: 113px;
  width: 508px;
  margin-top: 5px;
}
#lista::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5b5b5b;
  border-radius: 10px;
  margin-left: -30px;
}

#lista::-webkit-scrollbar {
  width: 12px;
  background-color: #2e2e2e;
}

#lista::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}

.title__container--2 {
  justify-content: space-between;
  align-items: baseline;
}

.refuse-del {
  position: relative;
  border: solid yellowgreen;
  z-index: 100;
  animation: refuse-animation 0.5s;
  transition: 0.1s;
}

@keyframes refuse-animation {
  20% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

#PersonasActividades {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin-top: 12px;
}
#PersonasActividades::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5b5b5b;
  border-radius: 10px;
  margin-left: -30px;
}
#PersonasActividades::-webkit-scrollbar {
  width: 12px;
  background-color: #2e2e2e;
}
#PersonasActividades::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    7deg,
    rgb(0, 87, 7) 0%,
    rgba(0, 87, 7) 44%,
    rgba(0, 87, 7) 100%
  );
}
.emergent__input {
  background-color: #646464;
  margin: 25px;
  margin-bottom: -10px;
  min-height: 33px;
}

#emergent__resolution--result {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #2e2e2e;
  z-index: 250;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: solid #ddd;
  transition: 0.1s;
}

.contenedor__type{
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #1B1B1B;
  border: 0;
  height: 33px;
  width: 500px;
  color: #EAEAEA;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 15px;
    min-height: 33px;
}

.activity__button--2{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.container__inputSearch{
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 20px 20px 0 20px;
}

#incident__locate--input, #dropdown__opt{
  max-height: 48px;
  margin: 0;
}

.highlight{
  background-color: #ebff82;
  color: rgb(24, 24, 24);
  border-radius: 10%;
  transition: .1s;
}

.notification{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 1px;
  right: 1px;
}

.navbar__element[id = 'Resoluciones']{
  position: relative;
}