
 body{
    position: relative;
    background: #005707;
    background: linear-gradient(7deg, rgba(0,87,7,1) 0%, rgba(62,149,69,1) 44%, rgba(153,255,170,1) 100%);
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  #container{
    position: relative;
    z-index: 100;
    background-color: #4a4a4a;
    margin-top: 30px;
    height: 73px;
    width: 95vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
  }
  #container > * {
    user-select: none;
  }
  .navbar__element{
    color: #f2f2f2;
    text-decoration: none;
    transition: .1s;
    padding: 10px;
    margin-left: 5px;
  }
  .navbar__element:hover {
    background-color: #646464;
    transition: .1s;
    border-radius: 10px;
  }
  .fa-right-from-bracket{
    padding-right: 10px;
  }
  #container__fullname {
    transition: .2s;
    cursor: pointer;
    color: #ddd;
    height: 40px;
    padding: 5px 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  #container__fullname:hover{
    background-color: #646464;
    transition: .1s;
    transition: .2s;
  }
  .fa-chevron-down {
    margin-left: 10px;
  }
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .emergent{
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 95vw;
    overflow-x: hidden;
    background-color: #1d1d1d;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
  }
  .emergent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #1d1d1d;
    border-radius: 10px;
    margin-left: -30px;

  }
  .emergent::-webkit-scrollbar {
      width: 12px;
      background-color: #1d1d1d;
      border-radius: 10px;
  }
  .emergent::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(7deg, rgb(0,87,7) 0%, rgba(0,87,7) 44%, rgba(0,87,7) 100%);
  }
  #emergent__subMenu{
    position: absolute;
    z-index: 10;
    background-color: #4a4a4a;
    padding: 5px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 160px;
    border-radius: 0px 0px 10px 10px;
    transition: .1s;
  }
  .subMenu-hidden{
    transform: translateY(-75px);
    visibility: collapse;
    border-radius: 10px;
    transition: .1s;
  }
  .subMenu__option{
    text-decoration: none;
    color: #ddd;
    padding: 10px 10px;
    border-radius: 10px;
    transition: .1s;
  }
  .subMenu__option:hover{
    color: red;
    background-color: #646464;
    transition: .1s;
  }
  .emergent__title {
    color: #EAEAEA;
    text-align: left;
    height: 11px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.emergent__incident{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: .1s;
}
.incident__title {
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  min-height: 70px;
  background-color: #2e2e2e;
  border: solid #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: .1s;
  
}
.emergent__container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}
.incident__title--confirm{
  border: solid #3e9545;
  transition: .1s;
  
}
.incident__title--cancel{
  border: solid red;
  transition: .1s;
  
}
.incident__title--confirm > p {
  color: #3e9545;
  transition: .1s;
}
.incident__title--cancel > p {
  color: red;
  transition: .1s;
}
.title__name{
  color: #C4C4C4;
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  transition: .1s;
}
.title__container {
  display: flex;
  justify-content: flex-end;
}
.container__button {
  width: 35px;
  height: 35px;
  padding-left: 5px;
  margin-right: 60px; 
  background: #3e9545;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #001f10;
  padding-top: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  transition: .1s;
}
.container__button:hover{
  background-color: #246e2a;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  transition: .1s;
}
.inicident__information{
  background-color: #4a4a4a;
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  transition: .1s;
  height: 100%;
}
.incident__information-hidden{
  position: relative;
  z-index: 1;
  visibility: hidden;
  margin-bottom: -70px;
  margin-top: 0 ;
  height: 50px;
  overflow: hidden;
  transform: translateY(-70px);
}
.information__col{
  background-color: #1d1d1d;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  padding: 8px 10px 2px 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label{
  color: #C4C4C4;
  font-size: 16px;
  font-weight: bold;
}
.col__p{
  color: #EAEAEA;
  font-size: 17px;
  text-align: justify;
  margin-top: 0;
}
.information_description{
  width: 100%;
  overflow-x: hidden;
}
i{
  transition: .1s;
}
.active {
  transform: rotate(-180Deg);
  transition: .1s;
}

.col_downloads{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
/*_______________________________________________________________________________________________________________________________*/
.information__title{
  width: 30px;
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  height: 70px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.inicident__information--2{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px 10px;
  align-items: center;
  border-radius: 10px;
  transition: .1s;
}
.information__container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.information__col--2{
  background-color: #1d1d1d;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__activity--title{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  width: 100%;
  min-height: 70px;
  margin-top: 10px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.title__name--2{
  color: #C4C4C4;
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}
.container__button--2{
    width: 25px;
    height: 25px;
    padding-left: 5px;
    margin-right: 60px; 
    background: #3e9545;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #001f10;
    padding-top: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
    transition: .1s;
  }
  .container__button--2:hover{
    background-color: #246e2a;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
    transition: .1s;
  }
  .hidden {
    transform: translateX(200%);
    visibility: hidden;
  }
  .selected{
    color: beige;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(119, 119, 104);
    padding-bottom: 25px;
    transition: .1s;
  }
  .selected:hover {
    border-radius: 10px 10px 0 0; 
  }
  .activity__information--3{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px; 
  background-color: #4a4a4a;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 15px 10px;
  align-items: center;
  border-radius: 10px;
  transition: .1s;
  }

  .incident-active{
    transform: translateX(200vw);
  }
  .incident-rejected{
    transform: translateX(-200vw);
  }
  .information__col--3{
    background-color: #1d1d1d;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
